[user]
	email = jamesballsemail@gmail.com
	name = James
[alias]
    tree = log --graph --decorate
    #tree = log --graph --decorate --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --abbrev-commit
    trash = reflog show --decorate --pretty=oneline --abbrev-commit
    recovery = fsck --full --no-reflogs --unreachable --lost-found | grep commit | cut -d\\  -f3 | xargs -n 1 git log -n 1 --pretty=oneline > .git/recovery.txt
    restart = reset --hard HEAD
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ammend = commit --amend
    undopush = push -f origin HEAD^:master

[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
